<%= form_for @camera, :html => { :class => "form-horizontal camera" ,:multipart => true},:url =>"destroy_camera",:multipart => "true" do |f| %>

  <% if @camera.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@camera.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @camera.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group" style="text-align: center">
    <h4>Are you sure you want to Remove? </h4>
  </div>

  <div class="form-group">
    <%= f.text_field :id, :class => 'hidden' %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-10">
      <%= f.submit "Remove Static Camera", :class => 'btn btn-primary' %>
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

    </div>
  </div>

<% end %>
