<%= include_gon %>
<div class="col-md-12 col-xs-12 cart-container">
  <h3> Cart </h3>
  <div class="cart-view">
    <% total_items = 0%>
    <% total_price = 0%>
    <table class="table cv-table">
      <thead>
        <tr>
          <th> Event Video </th>
          <th> Location </th>
          <th> Price </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%@cart_items.each do |cart_item|%>
          <tr class="list-item" >
            <td><%=image_tag(cart_item.event_video.video.thumb.pic_1.url)%></td>
            <td><%=cart_item.event_video.event.location_name%></td>
            <td><%=cart_item.event_video.price%></td>
            <form action="/remove_from_cart" method="post">
              <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
              <input type="hidden" name="item_id" id="item_id" value=<%=cart_item.event_video_id%> >
              <td style="vertical-align: middle;"><button type="submit" name="your_name" value="your_value" class="btn-link">Remove from cart</button></td>
            </form>
          </tr>
          <%total_price = total_price + cart_item.event_video.price%>
          <%total_items = total_items + 1%>
        <%end%>
      </tbody>
    </table>
    <br>
    <div class="text-right" style="padding-right: 3%;">
      <div class="col-md-12"><span> Total items</span><span class="total"> <%=total_items%></span></div>
      <div class="col-md-12 mTop-10"><span>Total Price : </span><span class="total"><%=total_price%> </span></div>
      <div class="payment-form col-xs-12">
      <%= form_tag("setup_purchase", method: "post",:id=>"payment-form") do %>
      <input type="hidden" value="<%=total_price%>" id="amount" name="amount">
        <input type="submit" class="btn btn-primary" value="Pay <%=total_price%> GBP">
      <%end%>
      </div>
    </div>
  </div>
</div>
</div>